
/* Reset some base styles that might conflict */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5046E5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0C1155;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* For Firefox */
html {
  scrollbar-color: #5046E5 #f1f1f1;
  scrollbar-width: thin;
}
